<div class="jumbotron jumbotron-fluid jumbotron-light-grey">
  <div class="container">
    <div class="row main">
      <div class="col">
        <h1 class="header">
          Hire the best team for Angular
        </h1>
        <p class="para">
          We are the most expert team in the world, and we’re worth it.
        </p>
        <aw-lets-build-btn></aw-lets-build-btn>
      </div>
      <div class="col-12 col-md-7 col-lg-7 text-center">
        <img [src]="angular_data.ng_logo | cdn" alt="">
      </div>
    </div>

    <div class="row about">
      <div class="col-12 col-md-10 col-lg-9">
        <h1 class="header">
          Uniquely qualified to handle your most ambitious Angular project
        </h1>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-3">
            
          </div>
        </div>
      </div>
    </div>

  </div>
</div>