.jumbotron {
  background-color: #F8F8F8;
  margin-bottom: -5rem;
  min-height: 50vh;

  .main {
    margin-top: 2rem;
    .header {
      font-size: 3.4rem;
      padding-bottom: 1rem;
      font-weight: bold;
      color: #222;
    }
    .para {
      font-size: 1.4rem;
      font-weight: 300;
    }

    @media (max-width: 992px) {
      padding-bottom: 3rem;
      .header {
        font-size: 2rem;
      }
      .para {
        font-size: 1rem;
      }
    }

    padding-bottom: 5rem;
  }

  .first-article, .second-article {
    margin-top: 5rem;
    margin-bottom: 5rem;
    .header {
      font-size: 2.3rem;
      padding-bottom: 1rem;
      line-height: 3rem;
      font-weight: 400;
      color: #444;
    }

    @media (max-width: 992px) {
      margin-top: 3rem;
      margin-bottom: 3rem;
      .header {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }
    
    img.article-img {
      width: 100%;
      height: 350px;
      object-fit: cover;
      box-shadow: 0 0 10px -2px #aaa;
    }

    @media (max-width: 552px) {
      img.article-img {
        margin: 0 -1rem;
        width: 100vw;
      }
    }

  }
}

.jumbotron.services {
  background: white;
  /deep/ .read-more {
    color: black;
  }
  .list-services {
    .list-service {
      padding: 3rem 0;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}