<div class="jumbotron">
  <div class="container">
    <div class="row mt-5" *ngFor="let case of case_study; let i = index">
      <div class="col-12 col-md-4 col-lg-5" *ngIf="(i % 2) == 0">
        <h1 class="work-title">{{case.name}}</h1>
        <p class="work-body">{{case.heading}}</p>
        <aw-read-more-link [isExternalLink]="false" route="{{case.link}}"></aw-read-more-link>
      </div>

      <div class="col-12 col-md-4 col-lg-5 d-lg-none d-md-none" *ngIf="(i % 2) != 0">
          <h1 class="work-title">{{case.name}}</h1>
          <p class="work-body">{{case.heading}}</p>
          <aw-read-more-link [isExternalLink]="false" route="{{case.link}}"></aw-read-more-link>
        </div>

      <div class="col-12 col-md-8 col-lg-7 mt-5">
        <div class="work-image" [ngStyle]="{'background': case.color.bg}">
          <img [src]="case.img" alt="case.name">
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-5 hide-mobile" *ngIf="(i % 2) != 0">
        <h1 class="work-title">{{case.name}}</h1>
        <p class="work-body">{{case.heading}}</p>
        <aw-read-more-link [isExternalLink]="false" route="{{case.link}}"></aw-read-more-link>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron worksection">
  <div class="container">
    <h2 class="headline">Who we have'd worked with</h2>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 client_info" *ngFor="let client of client_data">
        <img [src]="client.img" alt="client.name">
        <p>{{client.desc}}</p>
      </div>
    </div>
  </div>
</div>