 .jumbotron {
   margin-bottom: 0;
   /deep/ .read-more {
     color: black;
   }
   .work-image:hover {
     border: 1px solid #666;
     box-shadow: 0 0 15px #888;
   }
   .work-image {
     height: 400px;
     padding: 50px;
   }
   .center-image {
     height: 100%;
     background-color: white;
     background-position: center;
     background-size: cover;
   }
   .work-title {
     margin-top: 40px;
     margin-bottom: 10px;
     font-size: 3rem;
     font-weight: 700
   }
   .work-body {
     font-size: 1.125rem;
   }
 }

 .orange-card {
   background: #ff9e6a;
 }

 .blue-card {
   background: #93e9f3;
 }

 .groove-img {
   background-image: url("/assets/case-study/groovepacker/scan-pack.png");
 }

 .myveeta-img {
   background-image: url("/assets/case-study/my-veeta/landing.png");
 }