<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="work-title">Groove packer</h2>
        <p class="work-body">The best warehouse management system</p>
        <aw-read-more-link></aw-read-more-link>
      </div>
      <div class="col-12 col-md-6 col-lg-7">
        <div class="work-image orange-card">
          <div class="center-image groove-img"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-7">
        <div class="work-image blue-card">
          <div class="center-image myveeta-img"></div>
        </div>
      </div>
      <div class="col">
        <h2 class="work-title">My Veeta</h2>
        <p class="work-body">Find your dream job</p>
        <aw-read-more-link></aw-read-more-link>
      </div>
    </div>
  </div>
</div>