<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" routerLink="/">
          <img src="https://res.cloudinary.com/aviabird/image/upload/w_32/v1507121545/aviabird/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
          &nbsp; Aviabird
          <sup class="text-danger">beta</sup>
        </a>
        <div class="btn-group ml-auto"
          (onShown)="onDropDownShown()"
          (onHidden)="onDropDownHide()"
          placement="left"
          dropdown
        >
          <button dropdownToggle type="button" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem" *ngFor="let nav of navItems">
              <a class="dropdown-item" [routerLink]='nav.url'>{{nav.name}}</a>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngFor="let nav of navItems">
              <a class="nav-link" [routerLink]='nav.url'>{{nav.name}}</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>