:host {
  display: block;
  background-color: white;
  height: 70px;
  padding: 7px;
}

nav {
  padding: 0.5rem 0;

  .navbar-brand {
    .aviabird-logo {
      height: 34px;
      width: 35px;
      background-position: -0px -21px;
      background-size: 350%;
    }
  }

  .navbar-brand, .navbar-toggler  {
    z-index: 2000;
  }

  .navbar-toggler {
    border: none;
    outline: none;
    cursor: pointer;
  }

  .nav-item {
    transition: all 500ms ease-in-out;
    font-size: 0.8rem;
    margin-left: 1rem;
    border-bottom: 2px solid white;;
    &:hover, &.active {
      border-bottom: 2px solid #21C1BD;
    }
  }

  /deep/ .dropdown-menu {
    left: 0 !important;
    top: 0% !important;
    margin-top: 10%;
    position: fixed;
    width: 100vw;
    background: white;
    border: none;
    bottom: 0;
    -webkit-animation: dropdown 400ms;
    animation: dropdown 400ms;
    overflow: auto;
    li {
      a.dropdown-item {
        width: 80%;
        margin-left: 10%;
        border-bottom: 1px solid;
        text-align: center;
        padding: 3rem;
        font-size: 1.16em;
        transition: all 300ms;
        &:hover {
          background-color: white;
          transform: scale(1.1);
          margin-top: 0.5rem;
          color: #343434;
          font-size: 1.2em;
          font-weight: 700;
          border-bottom: 3px solid #343434;
        }
      }
    }
  }
}

@keyframes dropdown {
  0% {
    margin-top: -1000%;
    opacity: 0;
  }
  20% {
    margin-top: 0%;
    opacity: 0.8;
  }
  60% {
    margin-top: 15%;
    opacity: 1;
  }
}