<nav class="navbar navbar-light bg-white">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="#">
          <img src="/assets/brand/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
          &nbsp; Aviabird
        </a>
        <button class="navbar-toggler">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">SERVICES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">WORK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">WHY AVIABIRD</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">BLOG</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CONTACT US</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</nav>