.jumbotron {
  margin-bottom: 0;
  padding-bottom: 0rem;
  min-height: 30vh;
  color: #333;
  .main {
    .header {
      font-size: 4rem;
      padding-bottom: 1rem;
      font-weight: bold;
    }
    .para {
      font-size: 1.4rem;
      font-weight: 300;
    }
    aw-lets-build-btn {
      margin-bottom: 7.5vw;
    }
    img {
      filter: drop-shadow(3px 3px 1px #aeaeae);
      -webkit-filter: drop-shadow(3px 3px 1px #aeaeae);
      height: 25vw;
      max-height: 400px;
    }
    @media (max-width: 992px) {
      .header {
        font-size: 2rem;
      }
      .para {
        font-size: 1rem;
      }
    }
  }
  .about {
    .header {
      font-size: 2.7rem;
      padding-bottom: 1rem;
      font-weight: bold;
      line-height: 3.5rem;
      font-weight: 400;
      @media (max-width: 992px) {
        font-size: 2rem;
        line-height: 2.5rem;
      }
      @media (max-width: 552px) {
        font-size: 1.7rem;
        line-height: 2rem;
      }
    }
    figure {
      img {
        height: 4rem;
        opacity: 0.7;
        filter: drop-shadow(1px 1px 1px #777);
      }
      figcaption {
        h3 {
          font-weight: 200;
        }
      }
    }
  }
  .proof {
    .proof-items {
      .proof-item {
        h4 {
          font-weight: 200;
        }
        .icon-ok {
          border: 2px solid red;
          padding: 3.5px;
          height: 35px;
          width: 35px;
          border-radius: 17.5px;
          position: absolute;
        }
      }
    }
  }
  .contact {
    padding: 11rem 0 17rem;
    @media (max-width: 652px) {
      padding: 4rem 0 6rem;
    }
    .header {
      font-size: 3rem;
      font-weight: bold;
      @media (max-width: 992px) {
        font-size: 2rem;
        line-height: 2.5rem;
      }
      @media (max-width: 552px) {
        font-size: 1.2rem;
        line-height: 2rem;
      }
    }
    .icon-mail:before {
      font-size: 10rem;
      margin-top: -2rem;
      filter: drop-shadow(2px 2px 2px #444);
      -webkit-filter: drop-shadow(2px 2px 2px #444);
      @media (max-width: 552px) {
        font-size: 5rem;
        margin-top: 0;
      }
    }
  }
  .hire-us {
    padding: 1rem 0 5rem;
  }
  .blog {
    margin-bottom: 3rem;
    .news-list {
      .more-posts {
        a {
          color: inherit;
          text-decoration: none;
          text-transform: capitalize;
          border-bottom: 1px dashed #666;
          &:hover {
            border-bottom: 1px solid #666;
          }
        }
      }
      .news-list-item {
        text-decoration: none;
        .news-list-item-card {
          transition: color 300ms;
          background-color: white;
          padding: 1rem;
          color: #333;
          aw-read-more-link {
            position: absolute;
            bottom: 1rem;
            /deep/ .read-more {
              color: black;
            }
          }
          &:hover {
            aw-read-more-link {
              /deep/ .read-more {
                .icon-right-open:before {
                  transform: translateX(120%) scale(1.2);
                }
              }
            }
          }
          img {
            width: 100%;
            height: 200px;
            object-fit: contain;
          }
          .type {
            font-size: 0.8rem;
          }
          .news-title {
            margin: 1rem auto 1.3rem;
            font-weight: 200;
            font-size: 1.3rem;
            height: 2.4rem;
            letter-spacing: 0.1rem;
          }
          .news-heading {
            margin: 1rem auto;
            font-weight: 100;
            font-size: 0.8rem;
            font-style: italic;
            min-height: 100px;
            color: #666;
            @media (max-width: 576px) {
              min-height: 50px;
            }
          }
        }
      }
    }
  }
}