<div class="jumbotron jumbotron-fluid jumbotron-box-inset-shadow bg-light">
  <div class="container">
    <div class="row main mt-5 mb-5 pb-md-1 mt-md-5 text-center text-md-left">
      <div class="col">
        <h1 class="header">{{data.main.header}}</h1>
        <p class="para">
          {{data.main.para}}
        </p>
        <aw-lets-build-btn></aw-lets-build-btn>
      </div>
      <div class="col-12 col-md-7 col-lg-7 text-center">
        <img [src]="data.main.logo | cdn" [alt]="language">
      </div>
    </div>

    <div class="row about mt-2 pb-5 text-center text-md-left">
      <div class="col-12 col-md-10 col-lg-9">
        <h1 class="header mt-1 mt-sm-5 mb-5">
          {{data.about.header}}
        </h1>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-3" *ngFor="let desc of data.project_desc">
            <figure class="mt-3 mb-5">
              <img [src]="desc.logo | cdn" [alt]="desc.logo">
              <figcaption>
                <h3 class="mt-4 mb-4">{{desc.header}}</h3>
                <p>{{desc.body}}</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="jumbotron jumbotron-fluid bg-white">
  <div class="container">
    <div class="row justify-content-center proof">
      <div class="col-12 col-lg-10">
        <div class="row">
          <div class="col mb-2 text-center">
            <h3 class="header font-weight-bold mt-5 mt-sm-2">{{data.proof.header}}</h3>
          </div>
          <div class="col-12 mb-5">
            <div class="row proof-items">
              <div class="col-12 col-md-6 col-lg-6 proof-item mt-5 mb-2 mb-sm-4" *ngFor="let proof of data.proof.items">
                <div class="row">
                  <div class="col-1">
                    <i [style.border-color]="data.color" [style.color]="data.color" class="icon-ok"></i>
                  </div>
                  <div class="col-11">
                    <h4 class="mb-4 ml-3">{{proof.header}}</h4>
                    <p class="ml-3">{{proof.body}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid bg-light">
  <div class="container">
    <div class="row blog">
      <div class="col">
        <div class="heading row justify-content-center mt-3 mb-5">
          <i class="border-before"></i>
          <h6 class="d-flex justify-content-center font-weight-bold">{{data.blog_header}}</h6>
          <i class="border-after"></i>
        </div>
      </div>
      <div class="col-12 news-list" *ngIf="rssFeeds$ | async; let rssFeeds; else loading">
        <div class="row justify-content-center">
          <a class="col-12 col-lg-4 news-list-item mb-3 mt-2" *ngFor="let latest of rssFeeds | slice:0:6" rel=noreferrer [href]="latest.link"
            target="_blank">
            <div class="news-list-item-card">
              <img [src]="blogImg(latest.description)" alt="latest.title">
              <strong class="type">BLOG</strong>
              <h5 class="news-title">{{latest.title}}</h5>
              <p class="news-heading" [innerHtml]="parseHeading(latest.description)"></p>
              <aw-read-more-link isExternalLink="true" link="{{latest.link}}"></aw-read-more-link>
            </div>
          </a>
        </div>
        <div class="row mt-5">
          <p class="col more-posts text-center">
            See more posts about <a href="https://medium.com/aviabird/tagged/{{language}}">{{language}}</a>
          </p>
        </div>
      </div>
      <ng-template #loading>
        <div class="col-12">
          <div class="row justify-content-center">
            <h6 class="text-center col-4">
              <img heigh="100" width="100" [src]="'loader.svg' | cdn" alt="Loading Blogs"
              />
            </h6>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<div [style.background]="data.color" class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row contact">
      <div class="col">
        <h3 class="header text-white">{{data.contact_header}}</h3>
      </div>
      <div class="col-6 text-center">
        <i class="icon-mail text-white"></i>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid bg-white">
  <div class="container">
    <div class="row hire-us">
      <div class="col-lg-2 col-md-1 d-sm-hidden"></div>
      <div class="col-12 col-md-10 col-lg-8">
        <aw-hire-us-form></aw-hire-us-form>
      </div>
    </div>
  </div>
</div>