<div class="jumbotron jumbotron-fluid jumbotron-box-inset-shadow bg-light">
  <div class="container">
    <aw-consult-head [data]="data" [language]="language"></aw-consult-head>
  </div>
</div>

<div class="jumbotron jumbotron-fluid bg-white">
  <div class="container">
    <aw-consult-proof [data]="data"></aw-consult-proof>
  </div>
</div>

<div class="jumbotron jumbotron-fluid bg-light">
  <div class="container">
    <aw-consult-blogs [data]="data" [rssFeeds]="rssFeeds$ | async" [language]="language"></aw-consult-blogs>
  </div>
</div>

<aw-consult-contact-us [data]="data" [language]="language"></aw-consult-contact-us>