<div class="jumbotron jumbotron-fluid jumbotron-box-inset-shadow bg-light">
  <div class="container">
    <div class="row main">
      <div class="col">
        <h1 class="header">{{data.main.header}}</h1>
        <p class="para">
          {{data.main.para}}
        </p>
        <aw-lets-build-btn></aw-lets-build-btn>
      </div>
      <div class="col-12 col-md-7 col-lg-7 text-center">
        <img [src]="data.main.logo | cdn" alt="">
      </div>
    </div>

    <div class="row about">
      <div class="col-12 col-md-10 col-lg-9">
        <h1 class="header mb-5">
          {{data.about.header}}
        </h1>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-3" *ngFor="let desc of data.project_desc">
            <figure>
              <img [src]="desc.logo | cdn" [alt]="desc.logo">
              <figcaption>
                <h3 class="mt-4 mb-4">{{desc.header}}</h3>
                <p>{{desc.body}}</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="jumbotron jumbotron-fluid bg-white">
  <div class="container">
    <div class="row justify-content-center proof">
      <div class="col-12 col-lg-10">
        <div class="row">
          <div class="col mb-5">
            <h3 class="header font-weight-bold">{{data.proof.header}}</h3>
          </div>
          <div class="col-12">
            <div class="row proof-items">
              <div class="col-12 col-md-6 col-lg-6 proof-item mt-5 mb-5" *ngFor="let proof of data.proof.items">
                <div class="row">
                  <div class="col-1">
                    <i class="icon-ok text-danger"></i>
                  </div>
                  <div class="col-11">
                    <h4 class="mb-4 ml-3">{{proof.header}}</h4>
                    <p class="ml-3">{{proof.body}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>