.jumbotron {
  canvas {
    position: absolute;
    top: 70px;
    left: 0;
  }
  background-color: #F8F8F8;
  @media (max-width: 576px) {
    margin-bottom: -1rem;
    aw-case-study {
      /deep/ .case-card {
        margin: -1rem -1rem 1rem -1rem;
        box-shadow: none;
      }
    }
  }
}
