<div [style.background]="data.color" class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row contact">
      <div class="col">
        <h3 class="header text-white">{{data.contact_header}}</h3>
      </div>
      <div class="col-6 text-center">
        <i class="icon-mail text-white"></i>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid bg-white">
  <div class="container">
    <div class="row hire-us">
      <div class="col-lg-2 col-md-1 d-sm-hidden"></div>
      <div class="col-12 col-md-10 col-lg-8">
        <aw-hire-us-form></aw-hire-us-form>
      </div>
    </div>
  </div>
</div>