<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7 col-lg-7">
        <div class="why-us-card" routerLink="/why-aviabird">
          <div class="container">
            <div class="row">
              <div class="col detail">
                <strong>Why Aviabird</strong>
                <h4>Building your dream and enabling you to run with it</h4>
              </div>
              <div class="col-12 col-lg-7">
              </div>
            </div>
            <aw-read-more-link [isExternalLink]="false" route="/why-aviabird"></aw-read-more-link>
          </div>
        </div>
      </div>
      <div class="col better-text">
        <h2>Better together</h2>
        <p class="why-us-text">
          Our approach delivers better applications and better teams.
          Close collaboration allows us to design and engineer applications
          that integrate seamlessly into existing infrastructures while also
          exposing your team to best practices and new processes. This is
          how we help companies safely and successfully transition to new
          technologies.
        </p>
      </div>
    </div>
  </div>
</div>