<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row main">
      <div class="col-md-2 col-lg-3 d-sm-hidden"></div>
      <div class="col-12 col-md-8 col-lg-6">
        <h1 class="header">
          Thank you for your interest
        </h1>
        <p class="para">
          If your experience matches our needs we’ll be in touch soon.
          <a class="text-inherit with-border" href="https://medium.com/aviabird">
            In the meantime,
            check out our latest blog posts.
          </a>
        </p>
      </div>
    </div>
  </div>
</div>