<div class="jumbotron jumbotron-fluid main">
  <div class="container">
    <div class="row main">
      <div class="col-12">
        <h1 class="header">
          ReefPoint
        </h1>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid menu">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" href="https://medium.com/aviabird">All Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://medium.com/aviabird/tagged/angular2">Angular</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://medium.com/aviabird/tagged/ruby-on-rails">Rails</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://medium.com/aviabird/tagged/elixir">Elixir</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid body">
  <div class="" *ngIf="rssFeeds$ | async; let rssFeeds; else loading">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-7">
        <ul class="list-group blog-list">
          <li class="list-group-item" *ngFor="let latest of rssFeeds">
            <h2 class="header">
              <a [href]="latest.link">{{latest.title}}</a>
            </h2>
            <p class="desc" [innerHtml]="parseHeading(latest.description)">
              {{latest.description}}
            </p>
            <p class="detail">
              By : 
              <span class="author">{{latest.author}}</span>
              &#8226;
              <span class="pub-date">{{parseDate(latest.pubDate).toDateString()}}</span> 
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <br>
    <div class="row justify-content-center">
      <h6 class="text-center col-4">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0"
            aria-valuemax="100" style="width: 75%"></div>
        </div>
      </h6>
    </div>
  </ng-template>
</div>