.jumbotron {
  &.main {
    margin-bottom: -1rem;
    background-color: white;
    padding-bottom: 2rem;
    padding-top: 8rem;
    background-position: center;
    height: 20rem;
    .header {
      font-size: 4rem;
      color: #444;
      font-family: cursive;
      font-weight: bold;
      text-align: center;
      margin-top: -1rem;
      @media (max-width: 552px) {
        font-size: 3rem;
      }
    }
    canvas {
      position: absolute;
      top: 70px;
      left: 0;
    }
  }
  &.menu {
    background: white;
    margin-bottom: 0rem;
    padding-top: 0.5rem;
    padding-bottom: 0;
    border-bottom: 1px solid #e0e0e0;

    .nav {
      .nav-link {
        text-decoration: none;
        transition: all 500ms ease-in-out;
        color: #333;
        border-bottom: 2px solid white;
        padding-bottom: 1rem;
        font-size: 1rem;
        &:hover {
          border-bottom: 2px solid #05D6F5;
        }
      }
    }
  }
  &.body{
    background: white;
    margin-bottom: 0rem;
    overflow: hidden;
    min-height: 1000px;
  }
}

.list-group.blog-list {
  .list-group-item {
    transition: all 500ms;

    .author {
      border-bottom: 1px dotted #777;
    }

    .header a {
      color: #333;
      @media (max-width: 552px) {
        font-size: 1.2rem;
      }
      &:visited {
        color: #606467;
      }
    }

    .desc {
      font-size: 1rem;
    }

    .detail {
      font-size: 0.9rem;
      font-weight: 400;
      color: #888;
    }

    &:hover {
      .visit-link-arrow {
        transform: translateX(0%);
        opacity: 1;
      }
    }
    &:focus {
      outline: none;
    }
    border: none;
    border-bottom: 2px solid #efefef;
    border-radius: 0px !important;
    font-size: 1.4rem;
    font-weight: 200;
    padding: 1.5rem 1rem 1rem;
    img {
      height: 3rem;
      margin: 1rem 1rem 1rem 0;
    }
    .visit-link-arrow {
      right: 1%;
      transform: translateX(-200%);
      opacity: 0;
      transition: all 400ms ease-in-out;
      position: absolute;
      top: 34%;
      font-size: 2.3rem;
      color: black;
    }
  }
}