.jumbotron {
  background: white;
  min-height: 31rem;
  // .about-us-text {}
  @media (max-width: 576px) {
    padding-bottom: 3rem;
  }
  /deep/ .read-more {
    color: black;
  }
  .service-summary {
    &:hover {
      cursor: pointer;
      outline: none;
      .read-more-wrapper {
        cursor: pointer;
        /deep/ .read-more {
          .icon-right-open:before {
            transform: translateX(120%) scale(1.2);
          }
        }
      }
    }
  }
  .nav {
    @media (max-width: 576px) {
      box-shadow: 0 0 5px #aaa;
    }
    .tab-nav-item {
      .nav-link {
        cursor: pointer;
        opacity: 0.5;
        transition: opacity 500ms;
        h6 {
          transition: all 500ms;
          padding-bottom: 5px;
          border-bottom: 2px solid white;
          @media (max-width: 576px) {
            font-size: 0.6rem;
          }
        }
        &:hover,
        &.active {
          opacity: 1;
          h6 {
            border-bottom: 2px solid #21C1BD;
          }
        }
        img {
          width: 7vw;
          height: 7vw;
          max-height: 64px;
          max-width: 64px;
        }
      }
      .tab-title {
        margin-top: 1rem;
        color: black;
      }
    }
  }
}