.jumbotron {
  background-color: white;
  margin-bottom: -1rem;
  min-height: 50vh;

  .left-col {
    .left-heading {
      font-size: 3.5rem;
      font-weight: 800;

      @media (min-width: 576px) and (max-width: 992px) {
        font-size: 2.5rem;
      }
    
      @media (max-width: 576px) {
        text-align: center;
        font-size: 2rem;
      }
    }
  
    .left-body {
      padding-top: 1rem;
      @media (max-width: 576px) {
        text-align: center;
      }
    }
  }

  .list-group.service-list {
    .list-group-item {
      transition: all 500ms;
      cursor: pointer;
      &:hover {
        z-index: 9999;
        .visit-link-arrow {
          transform: translateX(0%);
          opacity: 1;
        }
      }
      border: none;
      border-bottom: 1px solid;
      border-top: 1px solid;
      border-radius: 0px !important;
      font-size: 1.4rem;
      font-weight: 200;
      img {
        height: 3rem;
        margin: 1rem 1rem 1rem 0;
      }
      .visit-link-arrow {
        right: 1%;
        transform: translateX(-200%);
        opacity: 0;
        transition: all 400ms ease-in-out;
        position: absolute;
        height: 100%;
        /* vertical-align: middle; */
        top: 34%;
        font-size: 2.3rem;
        color: black;
      }
    }
  }
}