.blog {
  margin-bottom: 3rem;
  .news-list {
    .more-posts {
      a {
        color: inherit;
        text-decoration: none;
        text-transform: capitalize;
        border-bottom: 1px dashed #666;
        &:hover {
          border-bottom: 1px solid #666;
        }
      }
    }
    .news-list-item {
      text-decoration: none;
      .news-list-item-card {
        transition: color 300ms;
        background-color: white;
        padding: 1rem;
        color: #333;
        aw-read-more-link {
          position: absolute;
          bottom: 1rem;
          /deep/ .read-more {
            color: black;
          }
        }
        &:hover {
          aw-read-more-link {
            /deep/ .read-more {
              .icon-right-open:before {
                transform: translateX(120%) scale(1.2);
              }
            }
          }
        }
        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
        .type {
          font-size: 0.8rem;
        }
        .news-title {
          font-weight: 200;
          font-size: 1.4rem;
          height: 7rem;
          letter-spacing: 0.1rem;
          line-height: 1.7rem;
        }
      }
    }
  }
}