<div class="case-card" [ngStyle]="{'background': caseStudy.color.bg}">
  <div class="container">
    <div class="row">
      <div class="col case-detail">
        <strong [style.color]="caseStudy.color.text">{{caseStudy.name | uppercase}}  | CASE STUDY</strong>
        <h4>{{caseStudy.heading}}</h4>
        <aw-read-more-link [isExternalLink]="false" route="{{caseStudy.link}}"></aw-read-more-link>
      </div>
      <div class="col-12 col-md-7 col-lg-7">
        <img class="case-img" [src]="caseStudy.img" alt="caseStudy.name">
      </div>
    </div>
  </div>
</div>