.case-card {
  cursor: pointer;
  @media (max-width: 576px) {
    height: 350px;
    .case-img {
      height: 330px;
    }
  }
  height: 300px;
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px #aaa;
  border: 1px solid transparent;
  transition: all 300ms;
  
  &:hover {
    border: 1px solid #666;
    box-shadow: 0 0 15px #888;
    .visit-link-arrow {
      transform: translateX(100%);
    }
  }

  .case-detail {
    margin-top: 2rem;
    strong {
      font-size: 0.8rem;
    }
    h4 {
      margin-top: 0.8rem;
      line-height: 1.5;
    }
  }

  .case-img {
    height: 270px;
    position: relative;
    top: 2rem;
  }

  .visit-link-arrow {
    position: relative;
    bottom: 2rem;
    font-size: 1.3rem;
    transition: transform 300ms;
  }
}