.case-card {
  cursor: pointer;
  @media (max-width: 576px) {
    height: 350px;
  }
  height: 300px;
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px #aaa;
  border: 1px solid transparent;
  transition: all 300ms;
  
  &:hover {
    border: 1px solid #666;
    box-shadow: 0 0 15px #888;
    aw-read-more-link {
      /deep/ .read-more {
        .visit-link-arrow {
          transform: translateX(150%) scale(1.2);
        }
      }
    }
  }

  .case-detail {
    margin-top: 2rem;
    strong {
      font-size: 0.8rem;
    }
    h4 {
      margin-top: 0.8rem;
      line-height: 1.5;
    }
    @media (max-width: 576px) {
      strong {
        font-size: 1rem;
      }
      h4 {
        font-size: 1.2rem;
      }
    }
  }

  .case-img {
    height: 300px;
    position: relative;
    top: 2rem;
    @media (max-width: 576px) {
      height: 250px;
      margin-left: 2.5rem;
    }
  }

  aw-read-more-link {
    /deep/ .read-more {
      color: black;
    }
  }
}