<div class="jumbotron jumbotron-fluid jumbotron-box-inset-shadow bg-light">
  <div class="container">
    <div class="row main">
      <div class="col-12 col-md-10 col-lg-9">
        <h1 class="header">
          Let’s build something great together
        </h1>
        <p class="para">
          Whatever your ambition, we’d love to design and build your next big idea or lend a hand on an existing one.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid bg-white">
  <div class="container">
    <div class="row main">
      <div class="col-lg-2 col-md-1 d-sm-hidden"></div>
      <div class="col-12 col-md-10 col-lg-8">
        <aw-hire-us-form></aw-hire-us-form>
      </div>
    </div>
  </div>
</div>