.jumbotron {
  margin-bottom: 0;
  padding-bottom: 0rem;
  min-height: 30vh;
  .main {
    margin-top: 2rem;
    .header {
      font-size: 3.4rem;
      padding-bottom: 1rem;
      font-weight: bold;
      color: #222;
    }
    .para {
      font-size: 1.4rem;
      font-weight: 300;
    }
    @media (max-width: 992px) {
      padding-bottom: 3rem;
      .header {
        font-size: 2rem;
      }
      .para {
        font-size: 1rem;
      }
    }
    @media (max-width: 552px) {
      .header,
      .para {
        text-align: center;
      }
    }
    padding-bottom: 5rem;
  }
}