:host {
  @media (max-width: 576px) {
    text-align: center;
    padding-bottom: 3rem;
  }
}

h1, p, .contact-btn {
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 3.75rem;
  font-weight: 800;
  @media (min-width: 576px) and (max-width: 992px) {
    font-size: 2.5rem;
  }

  @media (max-width: 576px) {
    font-size: 2rem;
  }
}

p {
  font-size: 1.5rem;
  color: #666;
  @media (max-width: 576px) {
    font-size: 1rem;
    text-align: center;
  }
}

.contact-btn {
  border-radius: 0;
  border-width: 2px;
}