<section class="jumbotron jumbotron-fluid">
  <div class="latest-news container">
    <div class="heading row justify-content-center">
      <i class="border-before"></i>
      <h6 class="d-flex justify-content-center">LATEST</h6>
      <i class="border-after"></i>
    </div>
    <div class="row news-list">
      <a class="col-12 col-lg-4 news-list-item"
        *ngFor="let latest of rssFeeds$ | async | slice:0:3"
        [href]="latest.link" target="_blank"
      >
        <h6 class="date">
          {{parseDate(latest.pubDate).getDate()}}
          <br>
          {{parseDate(latest.pubDate).toString().split(" ")[1]}}
        </h6>
        <img [src]="blogImg(latest.description)" alt="latest.title">
        <h6 class="news-title">{{latest.title}}</h6>
        <p class="news-heading" [innerHtml]="parseHeading(latest.description)"></p>
        <aw-read-more-link isExternalLink="true" link="{{latest.link}}"></aw-read-more-link>
        <hr class="border-white">
      </a>
    </div>
  </div>
</section>