.jumbotron {
  background-color: #212428;
  color: white;
  .latest-news {
    .heading {
      i.border-before,
      i.border-after {
        margin-top: 10px;
        height: 1px;
        width: 20px;
        position: relative;
        display: block;
        background-color: #aaa;
      }
      i.border-before {
        left: -2rem;
      }
      i.border-after {
        right: -2rem;
      }
    }
    .news-list {
      .news-list-item {
        text-decoration: none;
        color: rgba(white, 0.7);
        transition: color 300ms;
        &:hover {
          color: white;
          aw-read-more-link {
            /deep/ .read-more {
              .icon-right-open:before {
                transform: translateX(120%) scale(1.2);
              }
            }
          }
        }
        img {
          width: 100%;
          background-color: lightgray;
        }
        .date {
          background-color: rgba(255, 255, 255, 0.5);
          position: absolute;
          padding: 10px;
          text-align: center;
          font-weight: 500;
          z-index: 9;
          color: #000000;
        }
        .news-title {
          margin-top: 2rem;
          font-weight: 200;
          font-size: 1.3rem;
          height: 3rem;
          letter-spacing: 0.1rem;
          line-height: 1.7rem;
        }
        .news-heading {
          margin: 1rem auto;
          font-weight: 100;
          font-size: 0.9rem;
          height: 100px;
          @media (max-width: 576px) {
            min-height: 50px;
          }
        }
      }
    }
  }
}