@import './assets/stylesheets/custom_bootstrap/bootstrap.scss';
@import './assets/stylesheets/fontello.css';
@import './assets/stylesheets/logos';

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}

body {
  background-color: #F8F8F8;
  overflow-x: hidden;
}

.site-loader-container {
  vertical-align: middle;
  text-align: center;
  color: #129DD8;
  border-style: none;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.jumbotron-light-grey {
  background-color: #F8F8F8;
  box-shadow: inset 0 0 5px #aaa;
}