.worked-with {
  .heading {
    margin-top: 5rem;
    i.border-before, i.border-after {
      margin-top: 10px;
      height: 1px;
      width: 20px;
      position: relative;
      display: block;
      background-color: #aaa;
    }
    i.border-before {
      left: -11px;
    }
    i.border-after {
      right: -11px;
    }
  }

  .client-list {
    margin: 2rem auto 3rem;
    .client-list-item {
      img {
        height: 2rem;
      }
    }
  }
}