:host {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
}

.jumbotron {
  margin-bottom: -1rem;
  padding-bottom: 1rem;

  aw-lets-build-btn {
    margin-top: 2rem;
  }

  .list-group {
    padding-bottom: 1rem;
    .list-group-item {
      padding: 0.2rem 0;
      background: none;
      border: none;
      a {
        text-decoration: none;
        color: #777;
        font-size: 0.9rem;
      }
    }
  }

  .terms-policy-link {
    color: #777;
  }
}