.jumbotron {
  margin-bottom: -1rem;
  padding-bottom: 1rem;

  aw-lets-build-btn {
    margin-top: 2rem;
  }

  @media (max-width: 991px) {
    .col {
      text-align: center;
    }
  }

  .list-group {
    padding-bottom: 1rem;
    @media (min-width: 991px) {
      text-align: left;
      right: -50%;
      position: relative;
    }
    .list-group-item {
      padding: 0.2rem 0;
      background: none;
      border: none;
      a {
        text-decoration: none;
        color: #777;
        font-size: 0.9rem;
      }
    }
  }

  .terms-policy-link {
    color: #777;
  }
}