<div class="jumbotron jumbotron-fluid jumbotron-box-inset-shadow bg-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <h4>Like what you see?</h4>
        <aw-lets-build-btn></aw-lets-build-btn>
      </div>
      <div class="col-12 col-lg-8 text-center">
        <div class="row">
          <div class="col-12 col-sm-3 col-md-3 col-lg-3">
            <ul class="list-group">
              <strong>Services</strong>
              <li class="list-group-item" *ngFor="let service of services; trackBy: trackByFn">
                <a [routerLink]="service.link">{{service.name}}</a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-sm-3 col-md-3 col-lg-3">
            <ul class="list-group">
              <strong>Capabilities</strong>
              <li class="list-group-item" *ngFor="let capability of capabilities; trackBy: trackByFn">
                <a [routerLink]="capability.link">{{capability.name}}</a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-sm-3 col-md-3 col-lg-3">
            <ul class="list-group">
              <strong>Company</strong>
              <li class="list-group-item" *ngFor="let comp of company; trackBy: trackByFn">
                <a [routerLink]="comp.link">{{comp.name}}</a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-sm-3 col-md-3 col-lg-3">
            <ul class="list-group">
              <strong>Connect</strong>
              <li class="list-group-item" *ngFor="let connect of connects; trackBy: trackByFn">
                <a href="{{connect.link}}">{{connect.name}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col text-center">
        <p>
          © 2017 Aviabird Technology Pvt Ltd. All rights reserved.
          <br>
          <small>
            <a class="terms-policy-link" routerLink="/terms-of-service-and-privacy-policy">
              Terms of Service and Privacy Policy
            </a>
          </small>
        </p>
      </div>
    </div>
  </div>
</div>