.aviabird-groovepacker, .aviabird-logo, .aviabird-maxmywealth, .aviabird-my-veeta {
  // width: 400px;
}

.aviabird-groovepacker {
  transform: translateY(-3%) scale(0.5);
}

.aviabird-maxmywealth {
  transform: translateY(-1%) scale(0.6);
}

.aviabird-my-veeta {
  transform: translateY(12%) scale(0.6);
}

@import url('https://res.cloudinary.com/aviabird/image/sprite/logo.css');